@model AdventurousContacts.Models.Contact
@using AdventurousContacts.Resources
@* Form to create a contact *@

@using (Html.BeginForm()) {
   
    @Html.ValidationSummary(true, Strings.CreateFailedSummary)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ContactID)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName):
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName):
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress):
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>
    
        <p>
            <input type="submit"
                value=
                @if (Object.ReferenceEquals(Model, null))
                {
                    @:"Create"
                }
                else
                {
                    @:"Save"
                }
                
             />
        </p>
}
<div>
    @Html.ActionLink(Strings.StartPageLink, "Index")
</div>

