@model AdventurousContacts.Models.Contact
@using AdventurousContacts.Resources
@* Confirmation form for deleting a contact *@

@{
    ViewBag.Title = Strings.DeleteContact;
}

<h2>
    @Strings.DeleteContact
</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(Strings.DeleteFailed)
    <p>
        @Strings.DeleteConfirmation
        <strong>@Model.FirstName @Model.LastName (@Model.EmailAddress)?</strong>
    </p>
    
     <p>
        <input type="submit" value="Delete" />
    </p>
}
<p>
    @Html.ActionLink(Strings.StartPageLink, "Index")
</p>
