@model IEnumerable<AdventurousContacts.Models.Contact>
@using AdventurousContacts.Resources
@* Presents a table with contacts *@

@{
    ViewBag.Title = Strings.Contacts;
}

<h2>
    @Strings.Contacts
</h2>
<p>
    @Html.ActionLink(Strings.NewContact, "Create")
</p>

@if (Model != null) {
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th></th>
            </tr>
        </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.ActionLink(Strings.Edit, "Edit", new { id=item.ContactID }) |
                @Html.ActionLink(Strings.Delete, "Delete", new { id=item.ContactID })
            </td>
        </tr>
    }

    </table>
}