@model AdventurousContacts.ViewModels.SuccessViewModel
@using AdventurousContacts.Resources;
@* Success page *@

@{
    ViewBag.Title = Strings.Success;
}

<h2>
    @Strings.Success
</h2>

<p>  
    <strong>@Model.ContactInfo</strong>
    @Model.GetSuccessMessage(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue)
</p>
<p>
    @Html.ActionLink(Strings.StartPageLink, "Index")
</p>
